@model AdminIndexVM

@{
    Layout = "_AdminLayout";
}

    <div class="adminControl">
        <h4>Selecteer hotel die je wil wijzigen of verwijderen</h4>
        <hr />

        <div id="adminEditDelete">



            <form id="AdminControlElement" asp-controller="Admin" asp-action="Index" method="post">
                <select asp-for="Id">

                    @foreach (var hotel in Model.Hotels)
                    {
                        <option value="@hotel.Id">@hotel.Name</option>
                    }

                </select>

                <button type="submit" class="btn btn-primary">Selecteer </button>

            </form>
        </div>

        <form id="AdminControlElement" asp-action="AddHotel" method="post">
            <div id="adminAddHotel">
                <h4>Voeg een nieuw hotel toe</h4>
                <hr />
                <button type="submit" class="btn btn-primary">Voeg een nieuw hotel toe</button>
            </div>


        </form>



        <div id="adminAddRooms">
            <h4>Vul en wijzig de kamers in een te selecteren hotel</h4>
            <hr />

            <form id="AdminControlElement" asp-controller="Admin" asp-action="HotelToFill" method="post">

                <select asp-for="@Model.Id">
                    @foreach (var hotel in @Model.Hotels)
                    {

                        <option value="@hotel.Id">@hotel.Name</option>
                    }

                </select>


                <button type="submit" class="btn btn-primary">
                    Selecteer
                </button>
            </form>


        </div>

    </div>