@model HotelHotelDetailsVm


    <div class="containerDetails">
        <h3>@Model.Hotel.Name  <img src="~/images/sterren/@(Model.Hotel.Stars).jpg" alt="@Model.Hotel.Stars" /> </h3>
        <div class="imagenHotelDetails">
            <img class="fotosHotel2" src="~/images/hotels/@Model.Hotel.Photo" alt="@Model.Hotel.Name" />
        </div>
        <p>@Model.Hotel.Description</p>
        <h5 class="groen">Faciliteiten:</h5>
        <p class="groen">@Model.Hotel.Facilities</p>
    </div>

    <h5>Onze kamers:</h5>

    <div class="table-responsive">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Kamernr.</th>
                    <th scope="col">Type kamer</th>
                    <th scope="col">Geschikt voor</th>
                    <th scope="col">Beschrijving</th>
                    <th scope="col">Prijs per nacht</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model.Rooms)
                {
                    var roomtype = room.Roomtype;
                    <tr>
                        <th scope="row">@room.Id</th>
                        <td>@roomtype.Type</td>
                        <td><img src="~/images/persoons/@(roomtype.MaxPersoons).png" alt="@roomtype.MaxPersoons" /></td>
                        <td>@room.Description</td>
                        <td>€ @room.PriceNight</td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div class="boekNu"> <a asp-controller="Booking" asp-action="Create" asp-route-hotelId="@Model.Hotel.Id">Reserveer nu</a> </div>



