@model BookingCreatePostVM



<p>
    <strong>  @Model.Client.Surname  @Model.Client.Name </strong> Wij danken u voor het vertrouwen in onze firma. Gelieve onderstaande informatie zorgvuldig na te lezen.

</p>

    <p> 
        Voor wijzigen of annulatie in uw reservatie neem contact met ons via e-mail naar bookingen@bookcol.com en gebruik als referentie het reservatienummer.
    </p>


    <table class="table table-borderless">
       
        <tbody>
            @foreach (var booking in Model.Bookings)
            {

                var room = booking.Room;
                var totaal = ViewBag.days * room.PriceNight;
                <tr>
                    <th scope="row">Reservatienummer:</th>
                    <td>@booking.Id</td>
                </tr>
                <tr>
                    <th scope="row">Kamernummer:</th>
                    <td>@booking.RoomId</td>
                </tr>
                <tr>
                    <th scope="row">Inchecken:</th>
                    <td>@booking.CheckInDate</td>
                </tr>
                <tr>
                    <th scope="row">Uitchecken:</th>
                    <td>@booking.CheckOutDate</td>
                </tr>
                <tr>
                    <th scope="row">Aantal nachten:</th>
                    <td>@ViewBag.days</td>
                </tr>
                <tr>
                    <th scope="row">Te betalen (betaling gebeurd ter plaatse):</th>
                    <td>€ @totaal</td>
                </tr>
            }
        </tbody>
    </table>

