@model Booking

@{
    Layout = "_AdminLayout";
}


    <h3>Ben je zeker dat je deze booking wilt deleten?</h3>
    <div>
        <h4>Booking @Model.Id</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CheckInDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CheckInDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CheckOutDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NmbrOfPeople)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NmbrOfPeople)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoomId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoomId)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Terug naar lijst</a>
        </form>
    </div>
